{% assign figure = site.data.figures[include.figure] %}
{% assign ext = include.ext | default: "jpg" %}

<figure class="figure">
  <img src="{{ site.baseurl }}/assets/images/{{ include.figure }}.{{ext}}"
       width="{{ figure.width }}" height="figure.height" 
                                  class="figure-img img-fluid"
                                  alt="{{ figure.alt[page.lang] }}">
  {% if figure.caption %}
  <figcaption class="figure-caption">{{ figure.caption[page.lang] }}</figcaption>
  {% endif %}
</figure>
