<footer class="footer mt-auto py-3">
  <div class="container">
    <p class="text-muted">
      {% if page.lang == "en" %}
      <strong>SNAP Hydroponics User Guide</strong> by <a href="https://snaphydroponics.info">snaphydroponics.info</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
      {% else %} 
      <strong>Gabay sa Pagamit ng <i lang="en">SNAP Hydroponics</i></strong> hatid ng <a href="https://snaphydroponics.info"><i lang="en">snaphydroponics.info</i></a>. Ang <i lang="en">source code</i> ay may lisensiyang
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Ang mga nilalaman ng <i lang="en">website</i> ay may lisensiyang <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
      {% endif %}
    </p>
  </div>
</footer>
