<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{%- if page.title -%}
           {{ page.title | escape }}
         {%- else -%}
           {{ site.title | escape }}
         {%- endif -%}</title>
  <meta name="description"
        content="{%- if page.description -%}
                   {{ page.description | strip_html | strip_newlines | truncate: 160 }}
                 {%- else -%}
                   {{ site.t[page.lang].site_description | strip_html | strip_newlines | truncate: 160 }}
                 {%- endif -%}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@snaphydroponics" />
  <meta name="twitter:creator" content="@gumacahin" />
  <meta property="fb:app_id" content="378460276099477">
  <meta property="og:title" content="{{ page.title | default: site.title}}">
  <meta property="og:url" content="{{ page.permalink | prepend: site.url }}">
  <meta property="og:description" content="{{ page.description | strip_html | strip_newlines | default: site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:image:url" content="{{ '/assets/images/snap-hydroponics-user-guide.png' | prepend: site.url }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1048">
  <meta property="og:image:height" content="1048">


  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet"
        href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
