<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.data.t[page.lang].home.url }}">
      <img src="{{ site.baseurl }}/assets/images/snap-logo.png" alt="Logo: SNAP Nutrient Solution for Hydroponics" >
    </a>


    <a class="navbar-item {% if page.lang == "fil" %}{{ "has-text-weight-bold" }}{% endif %}"
        href="/">{{ site.data.t[page.lang].filipino.name }}</a>
    <a class="navbar-item {% if page.lang == "en" %}{{ "has-text-weight-bold" }}{% endif %}"
    href="/en">{{ site.data.t[page.lang].english.name }}</a>

    <a href="#menu" role="button"
       class="navbar-burger navbar-item"
       aria-label="menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
