<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>{%- if page.title -%}
           {{ page.title | escape }}
         {%- else -%}
           {{ site.title | escape }}
         {%- endif -%}</title>
  <meta name="description"
        content="{%- if page.description -%}
                   {{ page.description | strip_html | strip_newlines | truncate: 160 }}
                 {%- else -%}
                   {{ site.t[page.lang].site_description | strip_html | strip_newlines | truncate: 160 }}
                 {%- endif -%}">
  <meta property="fb:app_id" content="378460276099477">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ page.permalink | prepend: site.url }}">
  <meta property="og:description" content="{{ page.description | strip_html | strip_newlines }}">
  <meta property="og:type" content="website">
  <meta property="og:image:url" content="{{ '/assets/images/snap-hydroponics-user-manual.png' | prepend: site.url }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="2048">
  <meta property="og:image:height" content="2048">


  <link rel="shortcut icon" type="image/png" href="favicon.png">
  <link href="{{ '/assets/fonts/ubuntu/ubuntu-v11-latin-ext_latin-regular.woff' | prepend:site.baseurl }}"
        rel='stylesheet'
        type='text/css'>
  <link rel="stylesheet"
        href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate"
        type="application/rss+xml"
        title="{{ site.title }}"
        href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

</head>
